*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, .section-head, .nav-bar, .about, .link-one, .link-two, footer {
    background-color: gray; 
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-head {
    padding:100px 0;
}
.nav-bar{
    padding: 20px 0;
    width: 25%; 
}
nav {
    display: flex;
}
.about {
    padding:70px 0;
    width: 60%;
}
main {
    display: flex;
}
.links {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.link-one, .link-two {
    padding:100px 0;
}
footer {
    padding:100px 0;
}
